[Unit]
Description=Sharkbuilder

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
User=pi
ExecStart=/usr/local/bin/sharky/dist/pty
Restart=on-failure
RestartSec=10
KillMode=process


[Install]
WantedBy=multi-user.target